hr {
    margin: 0;
}

.rodape {
    background-color: var(--cor-branca);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-preta);
    padding: 1rem 0 1.5rem 1.5rem;
}

.lista-rodape {
    display: none;
}

.rodape__texto {
    text-align: center;
    background: var(--cor-azul-gradiente);
    color: var(--cor-branca);
    padding: 0.5rem;
}

@media screen and (min-width: 1024px) {
    .lista-rodape {
        display: block;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 3.5rem 0 3.5rem 0;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--cor-cinza-claro);
        padding-bottom: 1.5rem;
    }


    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6rem 0;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cor-cinza);
        margin-left: 0.6rem;
    }

    .lista-rodape__link:hover {
        color: var(--cor-azul-gradiente);
    }


}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cor-cinza-claro);
        padding-left: 1rem;
    }

}
