.topicos {
    background: var(--cor-azul-gradiente);
    text-align: center;
    margin-top: 1rem;
    border-top: 1rem solid var(--cor-branca);
}

.topicos__titulo {
    color: var(--cor-branca);
    font-weight: 300;
    text-transform: uppercase;
    padding: 2rem 0 2rem 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
}

.topicos__item {
    margin: 1.5rem 0.5rem;
}

.topicos__link {
    color: var(--cor-branca);
    padding: 1rem 1.5rem;
    background-color: var(--cor-laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
        padding: 3rem 0 3rem 0;
    }

    .topicos__link {
        font-size: 24px;
    }

    .topicos {
        border-top: none;
    }

}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 1rem 25rem 2rem 25rem;
    }

}
